
*{
    /* font-family: 'Poppins', sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
} 
body{
    background-color: #e5e5f7;
    
    background-image: radial-gradient(#06283D 0.8px, #DFF6FF 0.8px);
    background-size: 20px 20px;
    z-index: -1;
}


header{
    /*background-color: azure;
    opacity: 0.2;*/
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    background-color: #DFF6FF;

}
.logo{
    text-decoration: none;
    color: #06283D;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    
}
.navbar a{
    color:#06283D;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    
    
}
 
.navbar a:hover{
    color: #47B5FF;

}
.socialmedia{
    position: fixed;
    top: 30%;
    left: 0;
    font-size: 25px;
    font-family: sans-serif;
    height: 100%;
    width: 75px;
    
   

}

.socialmedia-item{
    color: #06283D;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    text-decoration: none;
    transition: 0.3s, ease;  
}

.socialmedia-item > i{
font-size: 2.6em;
}
.socialmedia-item:hover{
    background-color: #47B5FF;
    transform: scale(1.1);
}

.main{
    width: 100%;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(PicsArt_10-29-05.05.43.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 200px;
}
.main h2 {
    color: #DFF6FF;
    font-size: 1.4em;
    font-weight: 500;
    
}
.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #06283D;
    font-size: 3em;
    font-weight: 600;
}

.main h3{
    color: #DFF6FF;
    font-size:2em ;
    font-weight:700 ;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    

}

.main-button{
    color:#DFF6FF ;
    background-color: #06283D;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.187em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.3s, ease;

}
.main-button:hover{
    background-color: #47B5FF;
    transform: scale(1.1);
}

.title{
    display: flex;
    justify-content: center;
    color: #06283D;
    font-size: 2.2em;
    font-weight: 800;
    
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}
.cards{
    padding: 100px;

    
    
}
.card{
    background-color: #47B5FF;
    width: 14em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.3s, ease;
    

}
.card:hover{
    transform: scale(1.1);

}
.icon{
    color: #06283D;
    font-size: 8em;
    text-align: center;
}
.info{
    text-align: center;
    color: #256D85;
}

.education{
    padding: 200px;
    padding-top: 50px;
    
}
.m{
    color: blue;
    border-color: blue;

   
}

.info a{
    text-decoration: none;
}
.right-angle {
	height: 100px;
	width: 200px;
	border-bottom: 30px solid burlywood;
	border-left: 30px solid burlywood;
    
}


.Resume{
   padding: 250px;
   
    
}
/*.q{
    background-color: white;
    width: 65em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 200px;
    margin: 15px;
    transition: 0.3s, ease;
    height: 2000px;
    justify-content: center;
}


.q{
    
    height: 300px;
    width: 65em;
    border-top: 100PX blue solid;
    border-left: 50px blue solid;
}*/
.Resume{
    color: #06283D;
    background-color:#DFF6FF;
    width: 61em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    
    height: 1000px;
    

}



.info-Resume{
    
    text-align: left;
    
    
}
/*.paragraph{
    
    height: 300px;
    width: 50em;
    border-top: 50PX blue solid;
    border-left: 20px blue solid;
    z-index: -1;
    
}
.p{
    
}*/
.paragraph{
    font-size: 2em;
    font-weight: 500;
   
}
hr{
    width: 200px;
    height: 6px;
    color: #256D85;
    background-color: #256D85;
    text-align: right;
    border-color: #256D85;
    
}
img{
    float: left;
    height:400px;
    width: 300px;
    margin-right: 150px;
    
}
table{
    color: #256D85;
    border-collapse: collapse; 
    margin-bottom: 75px;

}

    th ,td{
        padding: 15px;
    
    }
    .vl {
        border-left: 7px solid #256D85;
        height: 15px;
    }

   .paragraph{
   
	border: dotted 1px white;
	border-bottom: 8px solid #47B5FF;
	
   }

   .Education{
    background-color: #DFF6FF;
    width: 61em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    color: #06283D;
    height: 1000px;
    

}

.img2{
    float: right;
    height:400px;
    width: 300px;
    margin-right: 100px;
    
}
.img3{
    float: left;
    height:400px;
    width: 300px;
    margin-left: 15px;
    
}

.Skills{
    color: #06283D;
    background-color:#DFF6FF;
    width: 61em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    
    height: 1000px;
    
    

}

  .mother{
    padding-top: 50px;
    padding-left: 200PX;
    text-align: center;
  }

  .progress{
    position: relative;
    width: 500px;
    height: 30px;
    background-color: #47B5FF;
    border-radius: 5px;
    overflow: hidden;
  }
  .progress__fill{
    width: 78%;
    height: 100%;
    background-color: #256D85;
  }
  .progress__text{
    position: absolute;
    top: 50%;
    right: 5px;
    color: #DFF6FF;
    transform: translatey(-50%);
    font: bold 15px "quicksand";

  }



  .mother2{
    padding-top: 50px;
    padding-left: 200PX;
    text-align: center;
  }

  .progress2{
    position: relative;
    width: 500px;
    height: 30px;
    background-color: #47B5FF;
    border-radius: 5px;
    overflow: hidden;
  }
  .progress__fill2{
    width: 58%;
    height: 100%;
    background-color: #256D85;
  }
  .progress__text2{
    position: absolute;
    top: 50%;
    right: 5px;
    color: #DFF6FF;
    transform: translatey(-50%);
    font: bold 15px "quicksand";

  }

  .mother3{
    padding-top: 50px;
    padding-left: 200PX;
    text-align: center;
  }

  .progress3{
    position: relative;
    width: 500px;
    height: 30px;
    background-color: #47B5FF;
    border-radius: 5px;
    overflow: hidden;
  }
  .progress__fill3{
    width: 68%;
    height: 100%;
    background-color: #256D85;
  }
  .progress__text3{
    position: absolute;
    top: 50%;
    right: 5px;
    color: #DFF6FF;
    transform: translatey(-50%);
    font: bold 15px "quicksand";

  }


  .mother4{
    padding-top: 50px;
    padding-left: 35PX;
    text-align: center;
    display: inline-block;
    align-items: center;
  }

  .progress4{
    position: relative;
    width: 55px;
    height: 300px;
    background-color: #47B5FF;
    border-radius: 5px;
    overflow: hidden;
  }
  .progress__fill4{
    height: 50%;
    width:  100%;
    background-color: #256D85;
  }
  .progress__text4{
    position: absolute;
    bottom: 1%;
    left: 10px;
    color: #DFF6FF;
    transform: translatey(-50%);
    font: bold 15px "quicksand";

  }

  .mother5{
    padding-top: 50px;
    padding-left: 35PX;
    text-align: center;
    display: inline-block;
    align-items: center;
  }

  .progress5{
    position: relative;
    width: 55px;
    height: 300px;
    background-color: #47B5FF;
    border-radius: 5px;
    overflow: hidden;
  }
  .progress__fill5{
    height: 84%;
    width:  100%;
    background-color: #256D85;
  }
  .progress__text5{
    position: absolute;
    bottom: 1%;
    left: 10px;
    color: #DFF6FF;
    transform: translatey(-50%);
    font: bold 15px "quicksand";

  }

  .mother6{
    padding-top: 50px;
    padding-left: 35PX;
    text-align: center;
    display: inline-block;
    align-items: center;
  }

  .progress6{
    position: relative;
    width: 55px;
    height: 300px;
    background-color: #47B5FF;
    border-radius: 5px;
    overflow: hidden;
  }
  .progress__fill6{
    height: 68%;
    width:  100%;
    background-color: #256D85;
  }
  .progress__text6{
    position: absolute;
    bottom: 1%;
    left: 10px;
    color: #DFF6FF;
    transform: translatey(-50%);
    font: bold 15px "quicksand";

  }
  .mother7{
    padding-top: 50px;
    padding-left: 35PX;
    text-align: center;
    display: inline-block;
    align-items: center;
  }

  .progress7{
    position: relative;
    width: 55px;
    height: 300px;
    background-color: #47B5FF;
    border-radius: 5px;
    overflow: hidden;
  }
  .progress__fill7{
    height: 45%;
    width:  100%;
    background-color: #256D85;
  }
  .progress__text7{
    position: absolute;
    bottom: 1%;
    left: 10px;
    color: #DFF6FF;
    transform: translatey(-50%);
    font: bold 15px "quicksand";

  }
  .mother8{
    padding-top: 50px;
    padding-left: 35PX;
    text-align: center;
    display: inline-block;
    align-items: center;
  }

  .progress8{
    position: relative;
    width: 55px;
    height: 300px;
    background-color: #47B5FF;
    border-radius: 5px;
    overflow: hidden;
  }
  .progress__fill8{
    height: 67%;
    width:  100%;
    background-color: #256D85;
  }
  .progress__text8{
    position: absolute;
    bottom: 1%;
    left: 10px;
    color: #DFF6FF;
    transform: translatey(-50%);
    font: bold 15px "quicksand";

  }
  .mother9{
    padding-top: 50px;
    padding-left: 35PX;
    text-align: center;
    display: inline-block;
    align-items: center;
  }

  .progress9{
    position: relative;
    width: 55px;
    height: 300px;
    background-color: #47B5FF;
    border-radius: 5px;
    overflow: hidden;
  }
  .progress__fill9{
    height: 88%;
    width:  100%;
    background-color: #256D85;
  }
  .progress__text9{
    position: absolute;
    bottom: 1%;
    left: 10px;
    color: #DFF6FF;
    transform: translatey(-50%);
    font: bold 15px "quicksand";

  }
  .mother10{
    padding-top: 50px;
    padding-left: 35PX;
    text-align: center;
    display: inline-block;
    align-items: center;
  }

  .progress10{
    position: relative;
    width: 55px;
    height: 300px;
    background-color: #47B5FF;
    border-radius: 5px;
    overflow: hidden;
  }
  .progress__fill10{
    height: 68%;
    width:  100%;
    background-color: #256D85;
  }
  .progress__text10{
    position: absolute;
    bottom: 1%;
    left: 10px;
    color: #DFF6FF;
    transform: translatey(-50%);
    font: bold 15px "quicksand";

  }
  
  .Experience{
    color: #06283D;
    background-color:#DFF6FF;
    width: 61em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    
    height: 1000px;
    

}


.control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 90px;
}

.projects{
    color: #06283D;
    background-color:#DFF6FF;
    width: 61em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px; 
    height: 1000px;
}